/.vscode
/Abstract_Class.exe
/Ambiguity_Multiple.exe
/Ambiguity_resolved.exe
/Compare.exe
/Compare2.exe
/Compare3.exe
/Constructor_in_inheri.exe
/Friend_Fun.exe
/Friend_Fun2.exe
/MultiLevel_inhri.exe
/multiple.exe
/Multiple_inheri.exe
/Multi_inheri.exe
/Polymorphism1.exe
/Polymorphism2.exe
/staticFun.exe
/tempCodeRunnerFile.cpp
Armstrong_n.exe
Armstrong_Num.exe
Count_digit.exe
fibonaci.exe
operator.exe
PrimeNo.exe
*.exe
